*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: poppins,sans-serif;
    text-decoration: none;
  }
  body{
    overflow-x: hidden;
  }
  .hero-header{
    width:100%;
    height:100%;
    min-height: 100vh;
    background: white;
  }
  .wrapper{
    width:1280px;
    max-width: 95%;
    margin:0 auto;
    padding: 0 20px;
  
  }
  header{
    padding:40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    flex-wrap: wrap;
  }
  .logo{
    display:inline-flex ;
    justify-content: center;
    align-items: center;
  }
  .logo i{
    height: 45px;
    width:45px ;
    background-color: #ded030;
    border-radius: 50%;
    color:#fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding:10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
  }
  .logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color:#060505;
  }
  nav .togglebtn{
    width: 35px;
    height:35px;
    position: absolute;
    top:45px;
    right:3%;
    z-index:5;
    cursor:pointer;
    display: none;
 }
 nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin:5px 0px;
    width:100%;
    height:3px;
    transition: 0.3s;
    transition-property: transform,opacity;
 }
 nav .navlinks{
    list-style-type: none;
 }
 nav .navlinks li{
    display: inline-block;
 }
 nav .navlinks li a{
    color: #060505;
    margin-right: 2.5rem;
 }
 nav .navlinks li a:hover{
    color: #ded030;
 }
.container{
    width: 100%;
    padding: 35px 10%;

}
main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px ;

}
.col header.title{
    font-family: helventica;
    color:black;
    padding:0px 0px 20px 30px;

}
.col .contents{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
.col .contents .box{
    position:relative;
    padding:20px;
    border:1px solid #eaeaea;
    background-color: #ffffff;
    cursor:pointer;
    transition: all 0.4s;
    margin-bottom: 20px; 
}

.col .contents .box:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}
.col .contents .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right:calc(100% + 22px);
    top:0;
    background-color: #ded030;
    border:2px solid white;

}
.box h4{
     position: relative;
     color:#ded030;
}
.box P{
    padding-top: 10px;
}
@media(max-width:930px){
    nav .togglebtn
    {
        display: initial;
    }
    .click{
        top: 45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity:0;
        margin:0;
    }
    .click span:last-child{
        transform:rotate(45deg);
        top:0;
    }
    nav .navlinks{
        position: absolute;
        top:110px; 
        right:-100%;
        bottom:0;
        width: 60%;
        background-color: #222;
        z-index:3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0,1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;

    }
    nav .navlinks li a{
        display:block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right:0;
    }

}


